 *{
	margin:0;
	text-align: center;
}
.navbar{
	box-shadow: 2px 2px 5px #000;
}

.titulo{
	text-align:center;
	background-color: BlueViolet;
	margin: 20px;
}
.parrafo{
	text-align:right;
	background-color: crimson;
	padding-top: 50px;
	padding-left: 10px;
	padding-bottom: 60px;
	padding-right: 300px;
}
.footer{
	text-align:center;
	background-color: GoldenRod;
	padding: 10px 20px 30px 40px;
	margin: 10px 200px;
}
div#nana{
	text-align: center;
}
#nav_admin{
	width: 100%;
}

.title-sol.style2 {
    font-size: 25px;
    font-weight: lighter;
    line-height: 36px;
    margin: 0 0 20px;
    padding: 0;
    position: relative;
    border: none;
    font-family: open sans,sans-serif;
}

/* .body{
	background-image: url('assets/img/bg.jpg');
} */

.navbar{

	background-image: url('assets/img/navbar.png');
	background-size: 100%;
	background-color: transparent !important;

}
.p{
	text-align: justify;

}

 
#header2 .navbar .header2 .header #header2 {
  background-color: transparent !important;
}


